<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title>Slot Machine Game</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ui/rexuiplugin.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ui/rexinputtextplugin.min.js') }}"></script>
    <link rel="shortcut icon" href="#">
</head>
<body>
    <div id="game-container"></div>
</body>
</html>